@tailwind base;
@tailwind components;
@tailwind utilities;

.green-row {
  background-color: lightgreen !important;
}

.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}

#cb1 {
  accent-color: green;
}
